<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="mainNav" style="background-color: rgb(130, 52, 16)">
  <div class="container">
    <div class="col-lg-12">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'lab-4:index' %}" style="color: rgb(204, 181, 38)">Anas-HOME</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- LINK MENUJU table, dan link menuju home#form -->
          <li><a href="{% url 'lab-4:index' %}#form" style="color: rgb(204, 181, 38)"> Form </a></li>
          <li><a href="{% url 'lab-4:result_table' %}" style="color: rgb(204, 181, 38)"> Messages Table </a> </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>

<div style="margin-top: 40px">
</div>
