{% extends "lab_4/layout/base.html" %}

{% block content %}
{% load staticfiles %}
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr>
<section name="about_me" class="col-md-12">
    <div class="col-md-6">
        <strong>
            <h2>List</h2>
            <ul>
                {% for ii in about_me %}
                <li> {{ ii }} </li>
                {% endfor %}
            </ul> 
        </strong>    
    </div>
    <div class="col-md-6">
        <img src="https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/13707544_1272636099414373_3481798984835123977_n.jpg?_nc_eui2=v1%3AAeEsW7e1aDPpNcWhYU-K0FQR_G67DKrtVDSac77OHrNoYHBjKGFrRuTSZ_NYNsfT1J2GytI-krdHY0xZFCTb6BrgJNCqFMgmupML-WZDhchpmg&oh=4a6266984f45f84b595dfb3b6c70125e&oe=5A3FCCEC" style="width: 80%; height: 100%; border-radius: 50%;" class="circle">
    </div>
</section>
<hr/>
<section name="form">
    <h2 id="check_valid">Send Message</h2>
    <form id="form" novalidate method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        
            {{ message_form }}
          

        <br>
        <button type="submit" class="btn btn-default" style="background-color: rgb(107, 59, 4); outline-color: white; border-color: white; color: rgb(204, 181, 38);">Submit</button>
        <div id="message_form_blank"></div>
        

    </form>
</section>

<script>
    function myPopUp() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }

    var a = 0;
    $(document).ready(function(){
        
        $("#check_valid").click(function(){
            a++;
            if (a <= 2){
                $('[name={{ message_form.message.name }}]').before("<div class='popup' id='cobadulu'>");
                $('[name={{ message_form.message.name }}]').after("</div>")
                $("#cobadulu").html("<span class='popuptext' id='myPopup'>Tolong masukkan message</span>");
            }
            myPopUp();
/*            if ($('input[name=message]').val() == ""){
                $("#message_form_blank").html("a");
                [name={{ message_form.message.name }}]
                            $("#check_valid").before("<span class='popuptext' id='myPopup'>Tolong masukkan message</span>");
                
            } */
            
        });


    });


</script>
{% endblock %}
